body
    font-family: 'Roboto'
    font-size: $font-size-par
    font-weight: 400
    color: $color-gray
    letter-spacing: 0.2rem
    
.title-first
    font-weight: 800
    font-size: 5rem
    color: $color-white
    text-transform: uppercase
    letter-spacing: 1rem
    line-height: 6rem
    animation-name: LeftToRight
    animation-duration: 1.7s
    animation-delay: 1s
    animation-timing-function: ease-in
    backface-visibility: hidden
    &__secondary
        color: $color-white
        font-size: 4rem
        font-weight: 200
        letter-spacing: .5rem
        line-height: 4.8rem
        animation-name: RightToLeft
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease-in
        backface-visibility: hidden
        margin-bottom: 5rem

.title-second
    font-weight: 800
    font-size: $font-size-h2
    line-height: 4.3rem
    letter-spacing: 1rem
    text-transform: uppercase
    background: linear-gradient(90.05deg, rgba($color-brown-lite, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%), no-repeat
    -webkit-background-clip: text
    color: transparent
    text-shadow: (0rem .4rem .4rem rgba(0, 0, 0, 0.25))
    text-align: center
    &_white
        color:$color-white

.title-third
    font-weight: 700
    font-size: $font-size-h3
    line-height: 2.4rem
    letter-spacing: .2rem
    text-transform: uppercase

.paragraph
    font-weight: 400
    font-size: $font-size-par
    line-height: 140%
    letter-spacing: .2rem
