@-webkit-keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}

body {
  padding: 5rem;
  background-color: #FFFFFF;
}

.container {
  background: #F7F7F7;
  position: relative;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

body {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
  letter-spacing: 0.2rem;
}

.title-first {
  font-weight: 800;
  font-size: 5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 6rem;
  -webkit-animation-name: LeftToRight;
          animation-name: LeftToRight;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  line-height: 4.8rem;
  -webkit-animation-name: RightToLeft;
          animation-name: RightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 5rem;
}

.title-second {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%), no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  text-align: center;
}
.title-second_white {
  color: #FFFFFF;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.mar-bot-80px {
  margin-bottom: 8rem;
}

.mar-bot-10px {
  margin-bottom: 1rem;
}

.mar-bot-20px {
  margin-bottom: 2rem;
}

.mar-bot-30px {
  margin-bottom: 3rem;
}

.mar-bot-50px {
  margin-bottom: 5rem;
}

.text-align-center {
  text-align: center;
}

.tile-animatin-skew {
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.tile-animatin-skew:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.05);
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: #FFFFFF;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s;
}
.btn_animated {
  -webkit-animation: BtnToUp 0.5s ease-out 1s;
          animation: BtnToUp 0.5s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn_brown {
  background-color: #A14F03;
  color: #FFFFFF;
}
.btn_brown::after {
  background-color: #A14F03;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #A14F03;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #A14F03;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  display: inline-block;
}
.btn-text:hover {
  background: #A14F03;
  color: #FFFFFF;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__foto {
  width: 60%;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: absolute;
  transition: 0.3s all;
  outline-offset: 1rem;
}
.composition__foto_n1 {
  top: 0;
  left: 2rem;
  z-index: 1;
}
.composition__foto_n2 {
  top: 10rem;
  right: 0;
  z-index: 2;
}
.composition__foto_n3 {
  top: 18rem;
  left: 4rem;
  z-index: 3;
}
.composition__foto:hover {
  transform: scale(1.05);
  z-index: 20;
  outline: 1.5rem solid #BA8554;
}
.composition:hover .composition__foto:not(:hover) {
  transform: scale(0.95);
}

.advent-card {
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 24rem;
  height: 30rem;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.5s;
}
.advent-card:hover {
  transform: translateY(-0.5rem);
}
.advent-card__icon {
  width: 6.3rem;
  height: 6.2rem;
  margin-bottom: 2.4rem;
}

.card-tour {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card-tour__side {
  position: absolute;
  height: 50rem;
  transition: 0.7s all ease-out;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
}
.card-tour__side_front {
  background: #FFFFFF;
}
.card-tour__side_back {
  background: linear-gradient(90.05deg, #BA8554 0.03%, #A14F03 99.94%);
  transform: rotateY(180deg);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
.card-tour__img {
  height: 24rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  margin-bottom: 4.5rem;
}
.card-tour__img_1 {
  background: #BA8554 url("../img/card-tour-1.png");
}
.card-tour__img_2 {
  background: #BA8554 url("../img/card-tour-2.png");
}
.card-tour__img_3 {
  background: #BA8554 url("../img/card-tour-3.png");
}
.card-tour__title {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: right;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 17.7rem;
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554 0.04%, #A14F03 100%);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  z-index: 1;
  padding-bottom: 1rem;
  padding-top: 0.3rem;
}
.card-tour__descript ul {
  list-style: none;
}
.card-tour__descript ul li {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #777777;
  text-align: center;
}
.card-tour__descript ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__descript ul li span {
  border-bottom: 1px solid #777777;
}
.card-tour__backside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 8.7rem;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -50;
}

.bg-gradient {
  position: absolute;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.feedback-card {
  max-width: 80%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 4.8rem 9.5rem;
  transform: skewX(-15deg);
  position: relative;
  z-index: -1;
}
.feedback-card > * {
  transform: skewX(15deg);
}
.feedback-card__img {
  width: 16.7rem;
  height: 16.7rem;
  background: green;
  float: left;
  border-radius: 10rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedback-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -20%);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
  transition: all 0.5s;
  opacity: 0;
}
.feedback-card:hover .feedback-card__name {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.book {
  height: 50rem;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(186, 133, 84, 0.7) 55%, rgba(161, 79, 3, 0.7) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.form {
  width: 60%;
  padding: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:nth-child(4) {
  margin-bottom: 4rem;
}
.form__input {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #000000;
  padding: 1.8rem 0rem 1.8rem 2.2rem;
  border: none;
  border-radius: 0.5rem;
  border-bottom: 0.3rem solid transparent;
  width: 51%;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__label {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #000000;
  display: block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.5s all;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__group-radio {
  width: 40%;
  display: inline-block;
}
.form__label-radio {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #777777;
  cursor: pointer;
  position: relative;
  padding-left: 1.2rem;
}
.form__button-radio {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #A14F03;
  display: block;
  position: absolute;
  top: -0.6rem;
  left: -2.8rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: #A14F03;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2 all;
}
.form__input-radio {
  display: none;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.header {
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative;
}
.header__logo {
  position: absolute;
  height: 7rem;
  width: 5.6rem;
  top: 5rem;
  left: 5rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
}

.col-2-of-3 {
  width: calc(2*((100% - 2*6rem)/3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
}

.col-2-of-4 {
  width: calc((100% - 6rem) / 2);
}

.col-3-of-4 {
  width: calc(3*((100% - 3*6rem)/4) + 2*6rem);
}

.footer {
  background-color: #333333;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.footer__logo {
  width: 12rem;
}
.footer__item {
  list-style: none;
  display: inline;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #777777;
  display: inline-block;
  transition: 0.5s all;
}
.footer__link:hover {
  transform: rotate(-5deg) scale(1.2);
  color: #FFFFFF;
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  background-color: #FFFFFF;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  right: 10rem;
  top: 10rem;
  z-index: 200;
  cursor: pointer;
  text-align: center;
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 11rem;
  top: 11rem;
  z-index: 100;
  transition: 0.7s all;
}
.navigation__icon {
  position: relative;
  margin-top: 3.7rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 4rem;
  height: 0.2rem;
  background: #000000;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  transition: 0.3s all cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation__item {
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 6rem;
}
.navigation__link:link, .navigation__link:visited {
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 250%;
  padding: 1rem 2rem;
  transition: all 0.5s;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(150);
}
.navigation__toggle:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.section-about {
  padding-top: 8rem;
}

.section-adventure {
  padding: 21rem 0 21rem 0;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/bacground-adv-sect.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.section-tour {
  padding-top: 21rem;
}

.section-feedback {
  padding: 8rem 0;
  margin-bottom: 8rem;
  position: relative;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}/*# sourceMappingURL=style.css.map */